<h2>Administration Panel</h2>

<div class="row-fluid">
    <div class="col-md-4">
        <div class="well">
            <h3>Random Statistics</h3>
            <ul>
                <li><strong>Posts: </strong>
                    <?=$posts?>
                </li>
                <li><strong>Comments: </strong>
                    <?=$comments?>
                </li>
                <li><strong>Users: </strong>
                    <?=$users?>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>Welcome to RobPress</h3>
            <p>Welcome to the most sophisticated blogging platform on Earth, hand crafted by a team of skilled
                individuals in the worship of Rob the unicorn, as part of the Understanding Normal Interface Changes On
                Regular Notification working party</p>

        </div>
    </div>

    <div class="col-md-4">
        <div class="well">
            <h3>Daily Rob</h3>
            <div style="text-align: center">
                <img src="http://robpress.clicked.cc/rob.jpg" style="max-height: 150px; width: auto;" />
            </div>
        </div>
    </div>

</div>