<p style="float: right; margin-top: 10px;"><a class="btn btn-default" href="<?=$site['base']?>/admin/blog/add"><i
			class="fa fa-plus"></i> Add Post</a></p>
<h2>All Posts</h2>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Post Title</th>
			<th>Post Author</th>
			<th>Categories</th>
			<th>Created</th>
			<th>Published</th>
	</thead>
	<tbody>
		<? foreach($blogs as $blog): ?>
		<? $post = $blog['Posts']; ?>
		<? 
if(!empty($blog['Users'])) {
	$author = $blog['Users']; 
} else {
	$author = new stdClass();
	$author->displayname = 'Guest';
	$author->id = -1;
	$author->username = 'guest';
}
?>

		<tr>
			<td style="font-weight: bold">
				<?php
		            $csrfToken = isset($_COOKIE['csrf_token']) ? $_COOKIE['csrf_token'] : '';
		        ?>
				<a style="float: right" href="<?=$site['base']?>/admin/blog/delete/<?=$post['id']?>?csrf_token=<?= $csrfToken ?>">&times;</a>
				<a href="<?=$site['base']?>/admin/blog/edit/<?=$post['id']?>">
					<?=$post['title']?>
				</a>
			</td>
			<td><?=$author->username?></td>
			<td>
				<?if(sizeof($blog['Categories']) == 0):?>
				<em>Uncategorised</em>
				<?else:?>
				<?foreach($blog['Categories'] as $id=>$category):?>
				<?=$category['title']?>
				<? if($id < (sizeof($blog['Categories']) - 1)) { echo ', '; } ?>
				<?endforeach;?>
				<?endif;?>
			</td>
			<td>
				<?=$post['created']?>
			</td>
			<td>
				<?=empty($post['published']) ? '-' : $post['published']?>
			</td>
		</tr>
		<? endforeach; ?>
	</tbody>
</table>