<?php $avatar = empty($u->avatar) ? '/img/avatar.png' : $u->avatar; ?>

<img style="float: right" src="<?=$site['base']?><?=$avatar?>" class="avatar" />
<h2><?=$u->displayname?> (<?=$u->username?>)</h2>

<h4>Biography</h4>
<?=$u->bio?>

<hr />

<h4>Articles</h4>
<ul>
    <?foreach($articles as $article):?>
    <li><a
            href="<?=$site['base']?>/blog/view/<?=$article->id?>"><?=$article->title?></a><br /><small><?=nicedate($article->published)?></small>
    </li>
    <?endforeach;?>
</ul>

<hr />

<h4>Comments</h4>
<ul>
    <?foreach($comments as $comment):?>
    <li><a
            href="<?=$site['base']?>/blog/view/<?=$comment->blog_id?>"><?=$comment->subject?></a><br /><small><?=nicedate($comment->created)?></small>
    </li>
    <?endforeach;?>
</ul>